.header{ 
    color: BLACK;
    background-color:#F9B088;
    padding-top: 20px;
    text-align: center;
  }
 .card
 {
   margin-bottom: 8px;
 }
  .back
  {
    background-image: linear-gradient(to bottom,#de6262, #ffb88c);
    color: rgb(47,47,43) ;
    height: 100%;
  }
  h3
  {
     color: BLACK;
     background-color:rgb(249,176,136,0.5) ;
     margin-top: 10px;
     border-radius: 5px;
     padding: 10px;
  }
  .createdate
  {
    font-size: 13px;
    color: grey;
    text-align: left;
    font-style: italic;
  }
  .remove
  {
    float: right;
    margin-left: 10px;
    margin-top: 5px;
   width: 110px;
    border-radius: 20px;
  }
 
  .addtask {
    color: black;
    padding: 8px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 150px;
  }
  
  .mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
  }
  .badge
  {
    font-size: 30px;
    margin-top: 10px;
  }
  .fa-trash-o:before {
    content: "\f014";
    float: right;
    font-size: 30px;
    cursor: pointer;
}