.header{
    height: 100px;
    color: BLACK;
    background-color:#F9B088;
    padding-top: 20px;
    font-size: 50px;

  }
  .addtask
  {
      float: right;
      border-radius: 20px;
      width: 150px;
      margin-top: 10px;
      margin-right: 20px;
  }
  .back
  {
    background-image: linear-gradient(to bottom,#de6262, #ffb88c);
    color: rgb(47,47,43) ;
    height: 100vh;
  }
  h3
  {
     color: BLACK;
     background-color:rgb(249,176,136,0.5) ;
     margin-top: 10px;
     border-radius: 5px;
     padding: 10px;
  }
  .row{
    height: 100vh;
  }
  .createdate
  {
    font-size: 13px;
    color: grey;
    text-align: left;
    font-style: italic;
  }
  .remove
  {
    margin-left: 280px;
    margin-top: 5px;
   width: 110px;
    border-radius: 20px;
  }
  .row
  {
    height: 100vh;
  }
  